* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
}

.background {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/darkimage3.jpg");
  background-position: centre;
  background-size: cover;
}

.sub-header {
  font-family: SunsetClub;
  color: #fff;
  font-size: 80px;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
}

@font-face {
  font-family: SunsetClub;
  src: url(./SunsetClub.otf);
}
@font-face {
  font-family: neon;
  src: url(./neon.ttf);
}
.title {
  font-family: neon;
  color: #fff;
  font-size: 80px;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff, 0 0 80px #00b3ff, 0 0 120px #00b3ff;
}