* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
}

.background {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/darkimage2.jpg");
  background-position: centre;
  background-size: cover;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.sub-header {
  font-family: SunsetClub;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
}

@font-face {
  font-family: SunsetClub;
  src: url(./SunsetClub.otf);
}

@font-face {
  font-family: neon;
  src: url(./neon.ttf);
}
.title {
  font-family: neon;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
}

.lightbar {
  width: 5px;
  height: 65%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;

  margin-top: 2%;
}

.opponents {
  color: #ea0b0b;
  font-size: 50px;
  text-shadow: 0 0 10px #ea0b0b, 0 0 20px #ea0b0b, 0 0 40px #ea0b0b,
    0 0 80px #ea0b0b, 0 0 120px #ea0b0b;
}

.dealer {
  font-family: library;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 30%;
}

.player {
  font-family: library;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  top: 25%;
  right: 30%;
}

.score {
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
}

.player-points {
  font-family: library;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  top: 30%;
  right: 33%;
}

.dealer-points {
  font-family: library;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 33%;
}

#dealer-results {
  font-family: library;
  font-size: 20px;
}

#player-results {
  font-family: library;
  font-size: 20px;
}

@font-face {
  font-family: library;
  src: url(./library.otf);
}

.start {
  border: 2px solid #15f4ee;
  box-shadow: 0 0 10px #15f4ee, 0 0 20px #15f4ee, 0 0 40px #15f4ee;
  color: #15f4ee;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.5s;

  padding: 10px;
  margin-top: 20px;

  font-family: library;
}

.start:hover {
  box-shadow: 0 5px 25px 0 #15f4ee inset, 0 5px 25px 0 #15f4ee inset;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}

.hit {
  font-family: library;
  border: 3px solid white;
  box-shadow: 0 0 10px white, 0 0 20px white;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.5s;

  padding: 10px;

  position: absolute;
  top: 75%;
  right: 38%;
}

.hit:hover {
  box-shadow: 0 5px 25px 0 #15f4ee inset, 0 5px 25px 0 #15f4ee inset;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}

.stand {
  font-family: library;
  border: 3px solid white;
  box-shadow: 0 0 10px white, 0 0 20px white;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.5s;

  padding: 10px;

  position: absolute;
  top: 75%;
  right: 27%;
}

.stand:hover {
  box-shadow: 0 5px 25px 0 #15f4ee inset, 0 5px 25px 0 #15f4ee inset;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}

.card {
  height: 190px;
  width: 110px;
  border: 3px solid white;
  border-radius: 10px;
  // background: #fff;
  box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff;

  font-size: 50px;
  font-family: card;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: #fff;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff;
}

@font-face {
  font-family: card;
  src: url(./card.ttf);
}

.player-hand {
  position: absolute;
  margin-top: 20px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 35%;
  // right: 55%;
  left: 54%;
  min-height: 280px;
  min-width: 300px;
  border-radius: 10px;
  border: 3px solid #15f4ee;
  box-shadow: 0 0 10px #15f4ee, 0 0 20px #15f4ee, 0 0 40px;
}

.dealer-hand {
  position: absolute;
  margin-top: 20px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 35%;
  // left: 55%;
  right: 54%;
  min-height: 280px;
  min-width: 300px;
  border-radius: 10px;
  border: 3px solid #15f4ee;
  box-shadow: 0 0 10px #15f4ee, 0 0 20px #15f4ee, 0 0 40px #15f4ee;
}

.iconify {
  color: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
  // text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}

@font-face {
  font-family: casino4;
  src: url(./casino4.ttf);
}
.dealerWins {
  font-family: casino4;
  font-size: 60px;
  color: white;
  letter-spacing: 3px;
  text-shadow: 0 0 10px #ffc803, 0 0 20px #ffc803, 0 0 40px #ffc803,
    0 0 80px #ffc803;
  margin-top: 15px;
}

.playerWins {
  font-family: casino4;
  font-size: 60px;
  color: white;
  letter-spacing: 3px;
  text-shadow: 0 0 10px #ffc803, 0 0 20px #ffc803, 0 0 40px #ffc803,
    0 0 80px #ffc803;
  margin-top: 15px;
}

.draw {
  font-family: casino4;
  font-size: 60px;
  color: white;
  letter-spacing: 3px;
  text-shadow: 0 0 10px #ffc803, 0 0 20px #ffc803, 0 0 40px #ffc803,
    0 0 80px #ffc803;
  margin-top: 15px;
}
