* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque", sans-serif;
}

.background {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/darkimage2.jpg");
  background-position: centre;
  background-size: cover;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.sub-header {
  font-family: SunsetClub;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
}

@font-face {
  font-family: SunsetClub;
  src: url(./SunsetClub.otf);
}

@font-face {
  font-family: neon;
  src: url(./neon.ttf);
}
.title {
  font-family: neon;
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
}

.lightbar {
  width: 5px;
  height: 60%;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;

  margin-top: 2%;
}

.opponents {
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
}

.dealer {
  font-family: library;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 30%;
}

.player {
  font-family: library;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  top: 25%;
  right: 30%;
}

.score {
  color: #fff;
  font-size: 50px;
  text-shadow: 0 0 10px #00b3ff, 0 0 20px #00b3ff, 0 0 40px #00b3ff,
    0 0 80px #00b3ff, 0 0 120px #00b3ff;
}

.player-score {
  font-family: library;
  font-size: 15px;
  display: inline-block;
  position: absolute;
  top: 30%;
  right: 34%;
}

.dealer-score {
  font-family: library;
  font-size: 15px;
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 34%;
}

@font-face {
  font-family: library;
  src: url(./library.otf);
}

.start {
  border: 2px solid #15f4ee;
  color: #15f4ee;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.5s;

  padding: 10px;
  margin-top: 10px;
}

.start:hover {
  box-shadow: 0 5px 25px 0 #15f4ee inset, 0 5px 25px 0 #15f4ee inset;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}

.hit {
  border: 2px solid #15f4ee;
  color: #15f4ee;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.5s;

  padding: 10px;

  position: absolute;
  top: 75%;
  right: 40%;
}

.hit:hover {
  box-shadow: 0 5px 25px 0 #15f4ee inset, 0 5px 25px 0 #15f4ee inset;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}

.stand {
  border: 2px solid #15f4ee;
  color: #15f4ee;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.5s;

  padding: 10px;

  position: absolute;
  top: 75%;
  right: 25%;
}

.stay:hover {
  box-shadow: 0 5px 25px 0 #15f4ee inset, 0 5px 25px 0 #15f4ee inset;
  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}
